.tabs{
    padding: 0;
    margin: 0;
}

.nav{
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
}
.nav-item{
    width: 100%;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.nav-link{
    border: rgb(40, 50, 83);
    border-width: 1px 1px 0px;
    box-shadow: inset 0px -1px 1.5px rgb(40, 50, 83),
    0px 1px 1.5px rgb(40, 50, 83);
    border-radius: 10px 10px 0px 0px;
    height: 100%;
    padding:0;
    background-color: rgb(192, 189, 189);
}

.nav-link:hover{
    background-color: whitesmoke;
}

.nav-link.active{
    border: rgb(40, 50, 83);
    border-width: 1px 1px 0px;
    box-shadow: none;
    background-color: whitesmoke;
}

.nav-link > h6 {
    margin: 0;
    padding: 2px 0;
    background-color: rgb(162, 162, 192);
    /* border-radius: 9px 9px 0px 0px; */
    color: whitesmoke;
    font-size: calc(11px + 0.5vw);
}

.nav-link.active > h6 {
    margin: 0;
    padding: 2px 0;
    background-color: rgb(93, 93, 158);
    /* border-radius: 9px 9px 0px 0px; */
}

.display-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.display-flex > p {
    margin: 0;
    padding: 0;
    font-size: calc(11px + 0.4vw);
}

.temps > p {
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: calc(11px + 0.3vw);
}

.temp-max {
    font-weight: bold;
}

.tab-content{
    border: rgb(40, 50, 83);
    border-width: 0px 1px 1px;
    height: 50vh;
    width: 100%;
    background-color: whitesmoke;
    color: black;
    font-size: calc(11px + 0.5vw);

    /* border-radius: 0 0 9px 9px; */
}

.tab-content-flex{
    display: flex;
    justify-content: space-around;
}

.chart-container{
    padding: 1vh 1vw;
    height:45vh;
    width: 50vw;
    
}