html,body{
    height:100%;
    background-color:rgb(40, 50, 83);

}

.weather-container{
    height: 100%;
    margin: 0;
    padding: 0;

    background-color:rgb(40, 50, 83);
    color: white;
}

/* .body{
    height: 100vh;
} */

.footer > a {
    position:fixed;
    width: 100vw;
    left:0;
    bottom:0;
    right:0;
    text-align: center;
    border-top: 1px solid black;
    padding: 1vh 0;
    color: rgb(192, 192, 192);
    text-decoration: none;
}

.footer > a:hover{
    color: white;
}

.weather-container > h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: calc(11px + 3vw);
    letter-spacing: 2px;
    padding:0;
    margin:0;
}