.tabs{
    padding: 2vw 0;
    margin: 0 10vw;
}

.nav{
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 80vw;
}
.nav-item{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}

.nav-link{
    border: black solid;
    border-width: 1px 1px 0px;
    box-shadow: inset 0px -1px 1.5px rgb(207, 207, 207),
    0px 1px 1.5px rgb(207, 207, 207);
    border-radius: 10px 10px 0px 0px;
    height: 100%;
    padding: 0.5vh 0;
}

.nav-link.active{
    border: black solid;
    border-width: 1px 1px 0px;
    box-shadow: none;
}

.nav-link > p {
    margin: 0;
    padding: 0;
}

.nav-link > h6 {
    margin: 0 0 1vh;
    padding: 0;
}

.tab-content{
    border: black solid;
    border-width: 0px 1px 1px;
    height: 50vh;
    width: auto;
}