.weather-container{
    height: 100vh;
    margin: 0;
    padding: 5vh 5vw;
    background-color:rgb(40, 50, 83);
    color: white;
}

.weather-container > a {
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    text-align: center;
    border-top: 1px solid black;
    padding: 1vh 0;
    color: rgb(192, 192, 192);
    text-decoration: none;
}

.weather-container > a:hover{
    color: white;
}